<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>My Currency Converter</h1>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-4 offset-2">
            <label for="sgd-amt">Enter your amount in SGD</label>
            <input type="number" id="sgd-amt" class="form-control" >    
        </div>

        <div class="form-group col-4">
            <label for="currency">Choose your currency</label>
            <select id="currency" class="form-control" >   
                <option *ngFor="let currency_rate of rateList; let i = index" [value]="i">{{ currency_rate.currency }}</option>
            </select> 
            <p>Rate: </p>
        </div>

        <div class="col-12 text-center">
            <h3>1 SGD = 3.04 MYR</h3>
        </div>
    </div>
</div>
